@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  line-height: 1.5;
  color: #111;
  font-size: 15px;
}

.top-main-wrapper {
  width: 100%;
  margin: 0;
  position: relative;
}

/* 
  ヒント: 
  middle-section部分の画像も以下と同じように背景に埋め込みましょう 
*/
.top-main {
  height: 550px;
  background-image: url(./images/yaoqi-lai-19429.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  color: #ffffff;
}

.top-main h2 {
  text-align: center;
  padding: 30px 0 0 0;
}

.top-main h1 {
  text-align: center;
  margin: 150px 0 0 0;
  font-size: 60px;
  font-weight: 100;
  border-bottom: 1px solid #ffffff;
}

.top-main p {
  text-align: center;
  margin: 20px 250px 10px 250px;
}

/*
* footer
*/

.footer {
  height: 400px;
  background-color: #000000;
  color: #ffffff;
}

.footer h2 {
  text-align: center;
  padding: 60px 0 0 0;
}

.footer h1 {
  text-align: center;
  margin: 80px 0 0 0;
  font-size: 60px;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
}
